.btnLoadMore {
  width: 100%;
  height: 48px;
  padding: 12px;
  border: 1px solid var(--color-royal-blue);
  background-color: var(--color-royal-blue);
  border-radius: 8px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.btnLoadMore:hover,
.btnLoadMore:focus {
  border: 1px solid #4169e1;
  background-color: #e8eeff;
  color: #000;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 768px) {
  .btnLoadMore {
    width: 156px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .btnLoadMore {
    width: 163px;
    font-size: 18px;
  }
}
