.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e8eeff;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  min-width: 250px;
  max-width: 335px;
  gap: 24px;
  /* transition:
    transform 0.2s ease,
    box-shadow 0.2s ease; */
}

/* .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
} */

.imageWrapper {
  width: 112px;
  height: 112px;
  overflow: hidden;
  border-radius: 100%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 287px;
  height: 179px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.description {
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profileButton {
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 60px;
  border-radius: 8px;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.profileButton:hover {
  background-color: rgba(0, 0, 0, 0.1); /* темнее серый */
  border-color: rgba(0, 0, 0, 0.2);
}

/* планшет*/
@media (min-width: 768px) {
  .card {
    max-width: 340px;
  }

  .content {
    width: 292px;
    height: 179px;
  }

  .profileButton {
    padding: 12px 63px;
  }
}

/*десктоп*/
@media (min-width: 1024px) {
  .card {
    max-width: 310px;
  }

  .content {
    width: 262px;
    height: 200px;
  }

  .name {
    font-size: 26px;
    font-weight: 600;
  }

  .description {
    font-size: 18px;
  }

  .profileButton {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 37px;
  }
}
