.StoryItem {
  width: 100%;
  border: 0px solid var(--color-scheme-1-border);
  border-radius: 16px;
  background: var(--color-scheme-2-foreground);
  overflow: hidden;
}

.storyImg {
  width: 100%;
  height: 223px;
  object-fit: cover;
}

.contentCard {
  padding: 24px;
  width: 100%;
}

.category {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.storyTittle {
  font-size: 18px;
  font-family: var(--font-family-nunito);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 54px;
  display: inline-flex;
  align-items: flex-start;
}

.storyArticle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

/* .storyInfoWrapper {
  margin-bottom: 24px;
} */

.userInfo {
  display: flex;
  flex-direction: raw;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.userImg {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}

.userNameWrapper {
  /* display: flex; */
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
}

.userName {
  margin-bottom: 3px;
}

.storyDate {
  position: relative;
}

.storyDate::after {
  content: "";
  position: absolute;

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--foreground);
  top: 50%;
  left: 100%;
  transform: translate(150%, -50%);
  padding: 1px;
}

.favWrapper {
  display: flex;
  gap: 25px;
}

.storyFavCnt {
  display: flex;
  align-items: center;
}

.buttonsSection {
  display: flex;
  flex-direction: raw;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.storyDetailLink {
  display: flex;
  border: 1px solid var(--color-scheme-2-border);
  background-color: var(--opacity-neutral-darkest-5);
  border-radius: 8px;
  padding: 12px;
  height: 48px;
  font-weight: 500;
  width: 229px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.storyEditLink {
  display: flex;
  border: 1px solid var(--color-scheme-2-border);
  background-color: var(--opacity-neutral-darkest-5);
  height: 48px;
  width: 48px;
  padding: 12px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.storyEditLink.isFavourite {
  border: 1px solid var(--color-royal-blue);
  background-color: var(--color-royal-blue);
  color: var(--color-white);
  transition: all 0.3s ease;
}

.storyDetailLink:hover,
.storyDetailLink:focus,
.storyEditLink:hover,
.storyEditLink:focus {
  color: var(--color-white);
  border: 1px solid var(--opacity-transparent);
  background-color: var(--color-royal-blue);
}

.storyEditLink.isFavourite:hover,
.storyEditLink.isFavourite:focus {
  color: var(--foreground);
  border: 1px solid var(--color-royal-blue);
  background-color: var(--color-royal-blue-lighter);
}

/* для гумової верстки на малих екранах трохи зменшуємо паддінги */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .storyDetailLink {
    border-radius: 12px 10px;
    font-size: 15px;
  }

  .storyEditLink {
    padding: 12px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .StoryItem {
    width: calc((100% - 24px) / 2);
  }

  .storyImg {
    height: 227px;
  }

  .storyDetailLink:active,
  .storyEditLink:active {
    color: var(--color-white);
    border: 1px solid var(--opacity-transparent);
    background-color: var(--color-royal-blue);
  }

  .storyEditLink.isFavourite:active {
    color: var(--foreground);
    border: 1px solid var(--color-royal-blue);
    background-color: var(--color-royal-blue-light);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .StoryItem {
    width: calc((100% - 2 * 24px) / 3);
  }

  .storyImg {
    height: 281px;
  }

  .category {
    font-size: 16px;
  }

  .storyTittle {
    font-size: 26px;
    height: 78px;
  }

  .storyArticle {
    font-size: 18px;
  }

  .userNameWrapper {
    font-size: 16px;
    font-weight: 400;
  }

  .userName {
    margin-bottom: 3px;
    font-weight: 600;
  }

  .favWrapper {
    display: flex;
    gap: 27px;
  }

  .storyDetailLink {
    font-size: 18px;
    width: 315px;
  }
}
