/* треба змінити згідно макету */

:root {
  --background: #f7f9ff;
  --foreground: #000;
  --color-royal-blue-lighter: #e8eeff;
  --color-royal-blue: #4169e1;
  --color-white: #fff;
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-foreground: var(--color-royal-blue-lighter);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #9c9c9c;
    --foreground: #fff;
  }
} */

html,
body {
  font-family: var(--font-family-nunito), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
}

main {
  flex: 1;
}

h1 {
  font-family: var(--font-family-sora), sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  font-size: 32px;
}

h2 {
  font-size: 28px;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
}
/* базові скидання */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 44px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  body {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 52px;
  }
}
