/* потрібно внести зміни згідно макету */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.background {
  background-image: image-set(
    url("/hero/phone1x.webp") 1x,
    url("/hero/phone2x.webp") 2x
   );

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.joinBackground {
  background-image: image-set(
    url("/join/phone1x.webp") 1x,
    url("/join/phone2x.webp") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   border-radius: 32px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .background {
    background-image: image-set(
      url("/hero/tab1x.webp") 1x,
      url("/hero/tab2x.webp") 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

  .joinBackground {
    background-image: image-set(
      url("/join/tab1x.webp") 1x,
      url("/join/tab2x.webp") 2x
    );
  }

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .background {
    background-image: image-set(
      url("/hero/desk1x.webp") 1x,
      url("/hero/desk2x.webp") 2x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

    .joinBackground {
    background-image: image-set(
      url("/join/desk1x.webp") 1x,
      url("/join/desk2x.webp") 2x
    );
  }

}

