.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  max-height: 90vh;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.logoText {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.closeBtn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color 0.2s,
    border-color 0.2s,
    transform 0.1s;
}

.closeBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.25);
}

.closeBtn:focus {
  outline: 2px solid #4169e1; /* контрастный синий для доступности */
  outline-offset: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.closeBtn:active {
  background-color: rgba(0, 0, 0, 0.15);
  transform: scale(0.95);
}

.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.navLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.navLink:hover,
.navLink:focus {
  color: #4169e1;
}

.navLink:active {
  color: #1e40af;
}

.authBlock {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  width: 100%;
}

.publishStoryBtn {
  display: block;
  background-color: #4169e1;
  color: #fff;
  width: 100%;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.2s ease;
}

.publishStoryBtn:hover {
  background-color: #3356c1;
}
