.footer_navigation_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer_navigation_list_item {
    /* font-weight: 400; */
    /* font-size: 16px;
    line-height: 1.5; */
    color: var(--foreground);

    padding: 0px 8px;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 0.25s ease, background-color 0.25s ease;
}

.footer_navigation_list_item:hover {
    border-color: var(--foreground);
}

.footer_navigation_list_item:active {
    background-color: #d8d8d8;
}


.footer_navigation_list::after {
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 0px;
}

@media only screen and (min-width: 768px) {
    .footer_navigation_list {
        flex-direction: row;
        gap: 32px;
        position: relative;
    }

    .footer_navigation_list::after {
        position: absolute;
        bottom: -24;
        left: 0;
    }
}


@media only screen and (min-width: 1440px) {
    .footer_navigation_list::after {
        display: none;
    }

    .footer_navigation_list_item {
        font-size: 18px;
    }
}