.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
  align-items: center;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 199px;
  height: 199px;
  border-radius: 100%;
  object-fit: cover;
}

.info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  margin-bottom: 12px;
  font-family: var(--font-family-sora), sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #000;
}

.description {
  font-family: var(--font-family-nunito), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }

  .imageWrapper {
    justify-content: flex-start;
  }

  .avatar {
    width: 199px;
    height: 199px;
  }

  .info {
    text-align: left;
    align-items: flex-start;
    width: 481px;
    height: 74px;
  }

  .name {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    gap: 32px;
  }

  .name {
    font-size: 32px;
    line-height: 1.3;
  }
  .info {
    text-align: left;
    align-items: flex-start;
    width: 367px;
    height: 150px;
  }
  .description {
    font-family: var(--font-family-nunito), sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }
}

