.footer {
    background-color: #e8eeff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer_logo{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;

    margin-bottom: 42px;
}

.logo_span {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    letter-spacing: -0.01em;
        color: #000;
}

.footer_socialmedia_list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

.footer_socialmedia_list_item a {
    display: flex;
    align-items: center;
    justify-content: center
}

.footer_privacy_policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #000;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    
    .footer_logo {
        margin-bottom: 0px;
    }
    
    .footer_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer_socialmedia_list {
        margin-bottom: 0px;
    }
    
    .footer_socialmedia_icon {
        width: 24px;
        height: 24px;
    }

    .footer_privacy_policy {
        margin-top: 32px;

    }







}