.footer {
    background-color: #e8eeff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer_logo{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;

    margin-bottom: 42px;
}

.logo_span {
    /* font-weight: 400; */
    font-size: 17px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: var(--foreground);
}

.footer_socialmedia_list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
}

.footer_socialmedia_list_item a {
    display: flex;
    align-items: center;
    justify-content: center
}

.footer_socialmedia_icon {
    transition: transform 0.25s ease;
}

.footer_socialmedia_icon:hover {
    transform: scale(1.15);
}

.footer_privacy_policy {
    /* font-weight: 400; */
    font-size: 12px;
    /* line-height: 1.5; */
    color: var(--foreground);
    text-align: center;

    margin-top: 32px;
}

@media only screen and (min-width: 768px) {
    
    .footer_logo {
        margin-bottom: 0px;
    }
    
    .footer_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer_socialmedia_list {
        margin-bottom: 0px;
        gap: 12px;
    }
    
    .footer_socialmedia_icon {
        width: 24px;
        height: 24px;
    }

    .footer_privacy_policy {
        margin-top: 56px;

    }
}

@media only screen and (min-width: 1440px) {

    .footer_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        /* gap: 390px; */
    }

    .footer_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 438px;
        margin-bottom: 0;
    }

    .footer_box::after {
        position: absolute;
        content: '';
        border: 1px solid rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 0px;
        top: 48px;
    }

    .footer_privacy_policy {
        font-size: 16px;
    }
}


