/* потрібно внести зміни згідно макету */
.section {
  padding: 64px 0;
}

.hero {
  padding: 196px 0 331px;
}

/* .background {
  background-image: image-set(
    url("../../public/hero/phone1x.webp") 1x,
    url("../../public/hero/phone2x.webp") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .hero {
    padding: 244px 0 117px;
  }

  /* .background {
    background-image: image-set(
      url("../../public/hero/tab1x.webp") 1x,
      url("../../public/hero/tab2x.webp") 2x
    );
  } */
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .section {
    padding: 244px 0 347px;
  }

  .hero {
    padding: 196px 0 331px;
  }

  /* .background {
    background-image: image-set(
      url("../../public/hero/desk1x.webp") 1x,
      url("../../public/hero/desk2x.webp") 2x
    );
  } */
}
