.block {
    padding: 20px;
    background-color: #e8eeff;
    border-radius: 24px;
    min-height: 170px;
    max-height: 195px;
    max-width: 335px;
}


.message {
    font-family: var(--font-family-sora), sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 32px;
}

.button {
    background-color: #4169e1;
    color: white;
    border: 1px solid #4169e1;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color, color 0.3s ease;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 295px;
}

.button:hover,  .button:focus{
    background-color: #e8eeff;
    color: #000;
}

.button:active {
    background-color: #7a96ea;
    color: #000;
}

@media only screen and (min-width: 768px) {
    .block {
        padding: 40px 32px;
        max-height: 210px;
        max-width: 533px;
    }

    .button {
        min-width: 101px;
        max-width: 186px;
    }
}

@media only screen and (min-width: 1440px) { 
    .message {
        font-size: 26px;
    }

    .block{
        min-height: 232px;
        max-height: 268px;
        width: 533px;
    }

    .button {
        width: 250px;
        max-width: none;
    }
}
