.storyDatails {
  width: 100%;   
}

.title {
  padding-bottom: 32px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  color: #1c1c1c;
  max-width: 960px;
}

.publish {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.authorBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  font-size: 14px;
}

.authorName {
  font-size: 14px;
  font-weight: 600;
}

.date {
  font-size: 14px;
  color: #7f7f7f;
  
}

.category {
  font-size: 14px;
  color: #7f7f7f;
}

.imgBox {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.avatar {
  border-radius: 50%;
}

.mainImg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  padding-bottom: 48px;
}

.saveWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  padding-top: 48px;
  
}
.article {
  max-width: 900px;
  font-size: 18px;
  line-height: 1.6;
  color: #1c1c1c;

 
}

.saveBlock{
   background-color: #F2F2F2;
   padding: 32px;
   border-radius: 15px;
}

.saveTitle {
  font-size: 20px;
  font-weight: 700;
}
.saveText {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
   padding: 16 0;
}
/* .saveBox {
  width: 320px;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
} */

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-radius: 8px;
  padding: 12px 83px;
  margin: 0px;
  background: #4169e1;
  color: #fff;
  border: 1px solid #4169e1;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saveButton:hover {
  border: 1px solid #4169e1;
  background: #e8eeff;
  color: #000;
}

.saveButton:active {
  border: 1px solid #4169e1;
  color: #fff;
  background: #7a96ea;
}

@media only screen and (min-width: 768px) {
  /* .join {
    padding: 32px;
    background-image: image-set(
      url("/join/tab1x.webp") 1x,
      url("/join/tab2x.webp") 2x
    );
  } */

  .title {
    font-size: 32px;
    line-height: 1.1;
    width: 558px;
    margin-bottom: 8px;
  }

  .break {
    display: block;
  }

  .text {
    width: 558px;
    margin-bottom: 16px;
  }

  .button {
    line-height: 1.5;
    width: 153px;

    padding: 12px 12px;

    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 1440px) {
 

  .title {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 24px;
    width: 492px;
  }

  .break {
    display: inline;
  }

  .text {
    font-size: 20px;
    margin-bottom: 32px;
    width: 492px;
  }

  .button {
    font-size: 18px;
    line-height: 1.5;
    width: 169px;
  }
}
