.about {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
}

.about_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  font-family: "Sora", sans-serif;
}

.text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.list_item {
}

.about_svg {
  margin-bottom: 8px;
}

.list_title {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 8px;
}

.list_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  font-family: "Nunito Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .about {
    max-width: 768px;
  }

  .about_header {
    flex-direction: row;
  }

  .title {
    font-size: 44px;
  }

  .text {
    max-width: 340px;
  }

  .list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
  }

  .about_header {
    margin-bottom: 64px;
  }

  .title {
    max-width: 755px;
    font-size: 52px;
  }

  .text {
    font-size: 20px;
    max-width: 533px;
  }

  .list {
    gap: 48px;
  }

  .about_svg {
    margin-bottom: 24px;
  }

  .list_title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .list_text {
    font-size: 18px;
  }
}
/*

.about_header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 64px;
}

.title {
  max-width: 755px;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  font-family: "Sora", sans-serif;
}

.text {
  max-width: 533px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.list_item {
}

.about_svg {
  color: #fff;
  fill: #fff;
  margin-bottom: 24px;
}

.list_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.list_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
} */
