.mainContent {
  flex: 1;
  margin: 0;
  padding-top: 64px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 77px; 
width: 335px;
background-color: #fff;
}

.wrapper{
 display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none; 
  margin-bottom: 32px;
}

.wrapperItem{
  flex: 1;
  border-bottom: 1px solid transparent; 
  text-align: center;
  padding: 12px 24px;
  transition: border-color 0.2s ease;
}

.wrapperItem a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); 
}

.formTitle {
line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.formText{
text-align: center;
margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
 }

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 8px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  background-color: transparent; 
  color: #000;
  transition: border-color 0.2s ease, color 0.2s ease;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input:hover {
  border-color: #4169e1;
  color: #000;
}

.input:focus,
.input:active {
  border-color: #4169e1; 
    color: #000;
outline: none;
}

.input:not(:placeholder-shown) {
  border-color: rgba(0, 0, 0, 0.15);
  color: #000;
}

.inputError {
 border-color: #b00101;
 color: #b00101;
} 

/* Заборона браузеру підсвічувати автозаповнення */
.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.submitButton {
border: 1px solid #4169e1;
border-radius: 8px;
padding: 6px 12px;
width: 100%;
height: 44px;
color: #ffff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background-color: #4169e1;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.submitButton:focus,
.submitButton:hover {
  background-color: #e8eeff;
  color: #000;
}

.submitButton:active {
  background-color: #7a96ea;
  color: #000;
}

.submitButton:disabled {
  opacity: 0.3;
  background-color: #4169e1;
  color: #ffff;
  cursor: not-allowed;
}

.error {
  color: #b00101;
  font-size: 12px;
  margin-top: 4px;
  text-align: start;
}

@media (min-width: 320px) and (max-width: 374px) {
  .mainContent {
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .mainContent {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
.mainContent {
  padding-top: 64px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 146px; 
width: 704px;
}

.formTitle{
  font-size: 44px;
}
}

@media only screen and (min-width: 1440px) {
.mainContent {
  padding-top: 64px;
  padding-left: 334px;
  padding-right:334px;  
  padding-bottom:111px;
  width: 1312px;}

.wrapperItem{
  font-size: 18px;
}
.formTitle{
  font-size: 52px;
}

.formText{
  font-size: 20px;
}

.input{
  font-size: 18px;
}

.submitButton{
  font-size: 18px;
}
}